//Bootstrap grid mixins available in all stylesheets include variable.scss
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

$purple : #76306E;
$dark-purple : #5f2658;
$button-boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$gray : #9F9F9F;
$light-purple : rgba(118, 48, 110, 0.4);
$grey1 :#BBBBBB;
$grey2 :#E0E0E0;
$black: #000000;
$white: #ffffff;
$red: red;

$headerStatusBarHeight: 2.25rem;
$headerMenuBarHeight: 3rem;
$contentWrapperTopMargin:4rem;
$contentWrapperBottomMargin:1rem;
$availableContentSpaceHeight: calc(100vh - #{$headerStatusBarHeight} - #{$headerMenuBarHeight} - #{$contentWrapperTopMargin} - #{$contentWrapperBottomMargin});



@mixin placeHolderColor($color){
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}
